{% extends "../base.html" %}
{% block extra_title %}Newsletter Signup{% endblock %}
{% block content %}


<div class="container">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <div class="account-logout p-4 rounded">
                                <h2 class="mb-4">Thank you for signing up to our Newsletter!</h2>
                                <p><a href="/">Click here to go back home.</a></p>
                            </div>
                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
