{% extends "../../base.html" %}
{% block extra_title %}Register{% endblock %}
{% block content %}

<div class="container">
    <div class="row no-gutter">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="login d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <form class="account-form p-3 card rounded" action="." method="post">
                            {% csrf_token %}
                            <h3 class="mb-2 font-weight-bold">Create an account</h3>
                            <p class="mb-4">It's free and only takes a minute.</p>

                            {% if form.errors %}
                            <p>Please correct the following errors:</p>
                            {% for field in form %}
                            {% if field.errors %}
                            <div class="alert alert-primary" role="alert">
                                {{ field.label }}: {{ field.errors|striptags }}
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}

                            <label class="visually-hidden">{{ form.name.label }}<span class="text-muted small">
                                (Required)</span></label>
                            {{ form.name }}
                            <label class="visually-hidden">{{ form.email.label}}<span class="text-muted small">
                                (Required)</span></label>
                            {{ form.email }}
                            <label class="visually-hidden">{{ form.password.label}}<span class="text-muted small">
                                (Required)</span></label>
                             <small class="text-muted small">
                                At least 8 characters and 1 digit
                            </small>
                            {{ form.password }}
                            <label class="visually-hidden">{{ form.password2.label}}<span class="text-muted small">
                                (Required)</span></label>
                            {{ form.password2 }}
                            <button class="btn btn-primary btn-block py-2 mb-4 mt-4 fw500 w-100" type="submit">Register</button>
                            <p class="text-center">
                                <a href="{% url "account:login" %}">Already have an account?</a>
                            </p>
                        </form>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}