core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
####
# Django 
####
*.log
*.pot
*.pyc
__pycache__/

####
# Environments
####
.venv/
venv/
.env

####
# Unit Test & 
# Coverage Reports
####
htmlcov/
.coverage
.pytest_cachesendgrid.env
