asgiref==3.7.2
blinker==1.7.0
click==8.1.7
cloudinary==1.40.0
dj-database-url==0.5.0
Django==5.0.2
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-countries==7.5.1
django-crispy-forms==2.1
django-widget-tweaks==1.5.0
Flask==3.0.2
gunicorn==20.1.0
idna==3.6
itsdangerous==2.1.2
mailchimp-marketing==3.0.80
pillow==10.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
python-http-client==3.3.7
sendgrid==6.11.0
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
stripe==8.9.0
stripe3==0.0.0
typing_extensions==4.10.0
Werkzeug==3.0.1
whitenoise==6.6.0
