{% extends "../../base.html" %} 
{% load static %} 
{% block extra_title %}Address Dashboard{%endblock %} 
{% block content %}

<div class="container">
    <div class="col-12">
      <h1 class="h2">Your Address Dashboard</h1>
    </div>
    <div class="col-12 d-flex justify-content-between">
        <div>Manage your <b>addresses</b></div>
    </div>
    <hr />
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2 pt-2">
      <!-- Orders Card-->
      <div class="col">
        <a href="{% url "account:dashboard" %}" class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
        <div id="ordersCard" class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
                <i class="fa-solid fa-gift position-absolute top-50 start-50 translate-middle" style="font-size: 25px;"></i>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h2 class="h5">Your Orders</h2>
                <p class="card-text small text-muted">View or change your orders</p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Profile Card-->
      <div class="col">
        <a href="{% url "account:edit_details" %}" class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
        <div id="profileCard" class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
                <i class="fa-solid fa-user position-absolute top-50 start-50 translate-middle" style="font-size: 25px;"></i>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h2 class="h5">Your Profile</h2>
                <p class="card-text small text-muted">Edit or delete your account details</p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Address Card-->
      <div class="col">
        <a href="{% url "account:addresses" %}" class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
        <div id="addressesCard" class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
                <i class="fa-solid fa-truck position-absolute top-50 start-50 translate-middle" style="font-size: 25px;"></i>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h2 class="h5">Your Addresses</h2>
                <p class="card-text small text-muted">Edit your shipping addresses</p>
              </div>
            </div>
          </div>
        </div>
        </a>
    </div>
    <!-- Wishlist Card-->
    <div class="col">
        <a href="{% url "account:wishlist" %}" class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
        <div id="wishlistCard" class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <i class="fa-solid fa-heart position-absolute top-50 start-50 translate-middle" style="font-size: 25px;"></i>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h2 class="h5">Your Wishlist</h2>
                <p class="card-text small text-muted">View your wishlist</p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
</div>
<!-- Addresses -->
<div class="container px-0 pt-2">
    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col">
        <a href="{% url "account:add_address" %}" class="text-reset text-decoration-none" role="button"
            style="max-width: 540px;">
            <div class="card mb-3 h-100 btn" style="border: dashed 2px #ccc;">
            <div class="row g-0 h-100">
                <div class="col-12" style="min-height:100px">
                <div class="card-body text-center position-absolute top-50 start-50 translate-middle">
                    <svg style="color:#ccc;" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                    class="bi bi-plus" viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                    <h2 class="h5">Add Address</h2>
                </div>
                </div>
            </div>
            </div>
        </a>
        </div>
        {% for address in addresses %}
        <div class="col">
        <div class="card">
            <div class="card-header bg-white text-pink">
            {% if address.default %}
              Default Address
            {% endif %}
            &nbsp;
            </div>
            <div class="card-body p-3">
              <p class="card-text m-0 fw-bold">{{address.full_name}}</p>
              <p class="card-text m-0">{{address.address_line}}</p>
              <p class="card-text m-0">{{address.address_line2}}</p>
              <p class="card-text m-0">{{address.town_city}}</p>
              <p class="card-text m-0">{{address.postcode}}</p>
              <p class="card-text m-0">Phone number: {{address.phone}}</p>
              <div class="pt-5 row">
                <div class="col-12 col-md-6 mb-2">
                  <a href="{% url 'account:edit_address' address.id %}" class="col-12 btn btn-light">Edit</a>
                </div>
                <div class="col-12 col-md-6 mb-2">
                  <a href="{% url 'account:delete_address' address.id %}" class="col-12 btn btn-light">Delete</a>
                </div>
                  {% if not address.default %}
                <div class="col-12 mb-2">
                  <a href="{% url 'account:set_default' address.id %}" class="col-12 btn btn-secondary">Set Default</a>
                </div>
                  {% endif %}
              </div>
            </div>
        </div>
        </a>
        </div>
        {% endfor %}
    </div>
</div>






{% endblock %}