{% extends "../../base.html" %} 
{% load static %} 
{% block title %}User Dashboard{%endblock %} 
{% block content %}

<div class="container" style="max-width: 1000px">
    <div class="col-12">
      <h1 class="h2">Your Order Dashboard</h1>
    </div>
    <div class="col-12 d-flex justify-content-between">
      <div>Manage your <b>orders</b></div>
    </div>
    <hr />
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2 pt-2">
      <!-- Orders Card-->
      <div class="col">
        <a href="{% url "account:dashboard" %}" class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
        <div id="ordersCard" class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <i class="fa-solid fa-gift position-absolute top-50 start-50 translate-middle" style="font-size: 25px;"></i>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Your Orders</h1>
                <p class="card-text small text-muted">View or change your orders</p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Profile Card-->
      <div class="col">
        <a href="{% url "account:edit_details" %}" class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
        <div id="profileCard" class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <i class="fa-solid fa-user position-absolute top-50 start-50 translate-middle" style="font-size: 25px;"></i>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Your Profile</h1>
                <p class="card-text small text-muted">Edit or delete your account details</p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Address Card-->
      <div class="col">
        <a href="{% url "account:addresses" %}" class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
        <div id="addressesCard" class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <i class="fa-solid fa-truck position-absolute top-50 start-50 translate-middle" style="font-size: 25px;"></i>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Your Addresses</h1>
                <p class="card-text small text-muted">Edit your shipping addresses</p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Wishlist Card-->
      <div class="col">
        <a href="{% url "account:wishlist" %}" class="text-reset text-decoration-none" role="button" style="max-width: 540px;">
        <div id="wishlistCard" class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <i class="fa-solid fa-heart position-absolute top-50 start-50 translate-middle" style="font-size: 25px;"></i>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Your Wishlist</h1>
                <p class="card-text small text-muted">View your wishlist</p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
</div>
<!-- Orders -->
<div class="container pt-2 card rounded-2" id="orderDetails">
      {% for order in orders %}
      <div class="row g-3 p-2">
        <div class="col-12 bg-light p-3 d-flex justify-content-between rounded-2">
          <div class="d-flex d-flex-inline">
            <div class="pe-3">
              {{ order.created }}
              <div class="dropdown">
                <a class="text-reset text-decoration-none dropdown-toggle" href="#" role="link" id="dropdownLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Order Address
                </a>
                <ul class="dropdown-menu text-center" aria-labelledby="dropdownLink">
                  <li class="item small">{{order.full_name}}</li>
                  <li class="item small">{{order.address1}}</li>
                  <li class="item small">{{order.address2}}</li>
                  <li class="item small">{{order.post_code}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="text-end">
            Total paid: <span class="fw-bold">€{{ order.total_paid }}</span>
          </div>
        </div>
  
        <div class="col-md-12 col-lg-12 p-0">
  
          {% for item in order.items.all %}
  
          <div class="card mb-3 border-0">
            <div class="row g-0">
              <div class="col-md-2">
                <img class="img-fluid" style="width:90px" src="{{item.product.image.url}}" />
              </div>
              <div class="col-12 col-md-5">
                <div class="card-body p-1">
                  <a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">
                    <p class="card-text">{{item.product|title}}</p>
                  </a>
                  <!-- Display buyer's note -->
                  {% if order.buyer_note %}
                  <div class="mt-2">
                    Order Note:
                    <span class="fst-italic">
                      "{{ order.buyer_note }}"
                    </span>
                  </div>
                  {% endif %}
                  <div class="mt-2">
                    Order Status: <span class="fw-bold">{{ order.get_order_status_display }}</span>
                  </div>
                </div>
              </div>
              <div class="text-end d-flex flex-column justify-content-end col-12 col-md-5"> 
                <!-- Conditionally display download link if the status is 'Finalized' -->
                {% if order.order_status == 'finalized' and order.digital_product %}
                <div>
                    <a href="{{ order.digital_product.url }}" class="btn btn-primary mt-2 col-12" download>
                        Download Product
                    </a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <hr>
          <div class="col-md-12 col-lg-12 order-md-last pb-2 order-3">
            <div class="d-grid gap-2 ">
              <button class="btn btn-warning problem-with-order-button" type="button">Problem with order</button>
              <button class="btn btn-light" type="button">Leave a review</button>
            </div>
          </div> 
          {% endfor %}
        </div> 
      </div>
      {% endfor %}
</div>
{% comment %} Contact Form Section {% endcomment %}
<div id="order-contact-form" class="container my-5" style="display: none;">
  <div class="row">
      <div class="col-md-8 mx-auto">
          <h2>Contact Us</h2>
          <form action="{% url 'store:contact_form_submit' %}" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="mb-3">
                  <label for="message" class="form-label">Message</label>
                  <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Send</button>
          </form>
      </div>
  </div>
</div>

{% endblock %}