{% extends "../../base.html" %}
{% block extra_title %}Password Reset Confirmation{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}


<div class="container">
    <div class="row no-gutter">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="login d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                             <form class="login-form p-4 card rounded" action="." method="post">
                                {% csrf_token %}
                                <h3 class="mb-2 font-weight-bold">Change your password</h3>
                                <p class="mb-4">Use the form below to change your password.</p>

                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            {% if field.name == 'new_password1' %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error|escape }}
                                                </div>
                                            {% elif field.name == 'new_password2' %}
                                                <div class="alert alert-warning" role="alert">
                                                    {{ error|escape }}
                                                </div>
                                            {% else %}
                                                <div class="alert alert-primary" role="alert">
                                                    {{ error|escape }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                                <label class="small fw-bold">{{ form.new_password1.label}}</label>
                                {{ form.new_password1 }}
                                <label class="small fw-bold">{{ form.new_password2.label}}</label>
                                {{ form.new_password2 }}
                                <ul>
                                    <li>Your password can’t be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can’t be a commonly used password.</li>
                                    <li>Your password can’t be entirely numeric.</li>
                                </ul>
                                <button class="btn btn-primary btn-block py-2 mb-2 mt-2 fw500 w-100" type="submit" value="Change">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}