{% extends "../base.html" %}
{% load static %}
{% block extra_title %}{{ product.title }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row g-3">
        <div class="col-md-3 col-lg-3 order-md-first bg-dark align-content-center" style="border-radius: 2em 0;">
            <img class="img-fluid mx-auto d-block" width="200" style="border-radius: 2em 0;" alt="{{ product.title }} image" src="{{ product.image.url }}">
        </div>
        <div class="col-md-9 col-lg-9 ps-md-3 ps-lg-5">
            <h2 class="mb-0 h4">{{ product.title }}</h2>
            <div>
                <!-- Display the average rating as stars -->
                <div data-tooltip="Average Rating: {{ average_rating }}" class="star-rating star-rating-detail">
                    {% for i in range %}
                        {% if forloop.counter0 < average_rating %}
                            <span>&#9733;</span> <!-- filled star -->
                        {% else %}
                            <span>&#9734;</span> <!-- empty star -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <p>{{ product.description|slice:":355" }}...</p>
        </div>
        <div class="col border-bottom">
            <div class="row p-3">
                <div class="col-6">Service Costs</div>
                <div class="col-6 text-end"><span class="h4 fw-bold">€{{ product.price }}</span></div>
            </div>
        </div>
        <div class="col">
            <div class="row p-3">
                <div class="col-6">
                    <label for="select">Qty</label>
                    <select id="select">
                        {% for num in number_range %}
                        <option value="{{ num }}" {% if num == item.qty %}selected{% endif %}>{{ num }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% csrf_token %}
                <div class="col-6 text-end d-grid gap-2">
                    <button type="button" id="add-button" value="{{product.id}}" class="btn btn-primary" data-url="{% url 'store_basket:add_to_basket' %}">
                        Add to basket
                    </button>
                    <a href="{% url 'account:add_to_wishlist' product.id %}" class="btn btn-secondary fw500" role="button">Add to Wishlist</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}