/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.dropdown-menu {   
  border-color: #E83D95;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(232, 61, 149, 0.6);
  outline: 0 none;
}

.btn-primary {
    color: #fff;
    background-color: #E83D95;;
    border-color: #E83D95;;
}

.btn-primary:hover {
    color: #fff;
    background-color: #E56D90;;
    border-color: #E56D90;;
}

/* Top Banner Styles */
.top-banner {
    background-color: black;
    padding: 0.5em 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-banner-container {
    background-color: black;
}

.greeting-text {
    color: white;
    margin-right: 10px;
}

.dropdown-toggle {
    color: white;
}

.dropdown-toggle:hover {
    color: #E83D95;
}

/* Main Header Styles */

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    text-align: center;
    justify-content: center;
    max-height: 5em;
}

.navbar-brand img {
    max-height: 4em;
}

.dropdown-menu a {
    text-align: center;
}

.form-control {
    height: 2.5rem;
}

.search-button i {
    font-size: 1.25rem;
}

/* Basket Styles */

.store-basket {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.store-basket i {
    font-size: 1.25rem;
}

#basket-qty {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: #E83D95;
    color: white;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}

/* Footer Styles */
footer {
    height: 30vh;
    flex-shrink: 0;
    background-color: black;
    color: white;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: #E83D95;
    text-decoration: underline;
}