{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
    {% comment %} Required meta tags {% endcomment %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="e-commerce website for an business to have their online presence, for the customers to find all product online, starting from fresh food and finishing with electronics and fashionable clothes. Ths website has constant sale and discounts and additional discounts for loyal customers" />
    <meta name="keywords"
        content="shopping, online shopping, eshop, clothing stores, online shop, shopping online, online shopping sites, shop online, furniture online, ecommerce website, online boutiques, clothes shops, clothes online, shopping sites, online shopping websites, online stores, clothing websites, online sale, online furniture, online clothes shopping, cheap online shopping, online clothing, online groceries, fresh groceries, groceries online, shopping websites, boy online, toys online, fashionable clothes, fashion, sale online, free shipping, fast delivery, women clothes, fashion designing, fashion designer, men clothes, mens fashion, fashion house, fashion week, fashion dresses, fashion style, accessory, fashion trends, buy food online, food online, food & beverage, food and drink, food & drinks, alcohol, cheap alcohol, health, healthy food, healthy meal, cheap electronics, tv, mobile phones, affordable price, healthy eating, workout, sport, pets, pet care, cosmetics." />
    <meta name="author" content="Iuliia Konovalova" />
    {% comment %} Favicon {% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_package_v0.16/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_package_v0.16/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_package_v0.16/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon_package_v0.16/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon_package_v0.16/safari-pinned-tab.svg' %}" color="#2fcd99">
    <meta name="msapplication-TileColor" content="#2fcd99">
    <meta name="theme-color" content="#2fcd99">
  {% endblock%}

  {% block extra_meta %}
  {% endblock%}

  {% block corecss %}
    <!-- jquery ui css -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock%}

  {% block extra_css %}
  {% endblock%}

  {% block jslibraries %}
    <script src="https://kit.fontawesome.com/8e4b08b302.js" crossorigin="anonymous"></script>
  {% endblock %}
  {% block corejs %}
  {% endblock%}

  {% block extra_js %}
  {% endblock%}

  <title>ArtisticEdge {% block extra_title %}{% endblock %}</title>
</head>

<body>
    {% comment %} Banner {% endcomment %}
    <div class="top-banner">
        {% if request.user.is_authenticated %}
            <span class="greeting-text">Hi {{ request.user.username }}</span>
            <div class="dropdown">
                <span class="arrow-down">&#9660;</span>
                <div class="dropdown-content">
                    <a href="#">Profile</a>
                    <a href="#">Wishlist</a>
                    <a href="{% url 'logout' %}">Sign out</a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'login' %}">Sign in</a> or <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
    {% comment %} Navigation & Header {% endcomment %}
    <header>
        <div class="header-left">
            <!-- Mobile navigation toggle -->
            <div class="mobile-nav">&#9776;</div>
            <!-- Navigation Links -->
            <nav class="navigation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="logo">
            <!-- Link back to home -->
            <a href="{% url 'store:home' %}"><img src="{% static 'images/logo-black.png' %}" alt="Logo"></a>
        </div>
        <div class="header-right">
            <input type="search" placeholder="Search products...">
            <div class="cart-icon">
                <i class="fas fa-shopping-cart"></i>
                <span class="item-counter">0</span>
            </div>
        </div>
    </header>
  {% comment %} Main content container {% endcomment %}
  <main class="main">
    <div class="content__container">
      {% comment %} Messages {% endcomment %}
      {% if messages %}
        <div class="message-container" id="messages-notes-main">
          {% for message in messages %}
            <div class="message-container__message">
              <p class="message-container__message--text">{{ message }}</p>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% block page_header %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
  </main>
  {% comment %} Footer {% endcomment %}
  <footer class="footer">
    <div class="footer__main">
      <!-- Logo -->
      <div class="footer__logo--container">
        <div class="logo__container">
          <span>Artistic</span>Edge
        </div>
      </div>
      <!-- Links container -->
      <div class="footer__links--container">
        <!-- Contact info -->
        <ul class="footer__links">
          <li class="footer__link phone">
            <div class="footer__icon">
              <i class="fas fa-phone"></i>
            </div>
            <div>+123-456-78-9</div>
          </li>
          <li class="footer__link email">
            <div class="footer__icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div>hello@artisticedge.de</div>
          </li>
        </ul>
        <!-- More info links -->
        <ul class="footer__links">
        </ul>
        <!-- Webpage links -->
        <ul class="footer__links">
          <li class="footer__link">
            <a href="mailto:dietkesteindel@gmail.com" aria-label="Go to email page">
              Contact Us
            </a>
          </li>
          <li class="footer__link">
            <a href="https://www.privacypolicygenerator.info/live.php?token=rEZ3YuASkCilUeSMDoqbmYILRRSo6wth" aria-label="Go to view ArtisticEdge privacy policy" target="_blank" rel="noopener">
              Privacy
            </a>
          </li>
        </ul>
        <!-- Social links -->
        <ul class="footer__links--social footer__links">
          <li class="footer__link--social">
            <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="footer__link--social">
            <a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our X page">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="footer__link--social">
            <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Attributions -->
    <ul class="attribution">
      <li class="credits">
        Created by
        <a href="https://github.com/dietkest" rel="noopener" target="_blank"
          aria-label="Visit Dietke Steindel's Github page">
          Dietke Steindel
        </a>
      </li>
    </ul>
  </footer>
  {% block postloadjs %}
  <script src="{% static 'js/script.js' %}"></script>
  {% endblock %}
  {% block postloadjs_extra %}
  {% endblock %}
</body>
</html>