{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
    {% comment %} Required meta tags {% endcomment %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore ArtisticEdge, your global partner for exceptional graphic design services. Specializing in web design, branding, and visual graphics, we elevate your brand with custom, high-quality design solutions tailored to your unique needs." />
    <meta name="keywords"
        content="ArtisticEdge, graphic design Ireland, web design services, custom branding services, graphic design studio, visual graphics, logo design, user interface design, digital art, promotional graphics, Ireland design services, global design services" />
    <meta name="author" content="Dietke Steindel" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% comment %} Favicon {% endcomment %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
  {% endblock%}

  {% block extra_meta %}
  {% endblock%}

  {% block corecss %}
    <!-- jquery ui css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock%}

  {% block extra_css %}
  {% endblock%}

  {% block corejs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
  {% endblock%}

  {% block jslibraries %}
    <script src="https://kit.fontawesome.com/8e4b08b302.js" crossorigin="anonymous"></script>
  {% endblock %}

  {% block extra_js %}
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3b79d343ff245a0fae0275448/9ea1663d6d48a1216f28be329.js");</script>
  {% endblock%}

  <title>ArtisticEdge | Expert Graphic Design Services | Ireland and Worldwide {% block extra_title %}{% endblock %}</title>
</head>

<body>
    {% comment %} Banner {% endcomment %}
    <div class="top-banner-container bg-dark">
      <div class="top-banner container bg-dark">
        <div class="d-flex align-items-left flex-grow-1">  
          <form class="d-md-flex d-none search-form" method="GET" action="{% url 'store:all_products' %}">
            <input class="form-control top-search-bar" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn search-button" type="submit"><i class="fas fa-search text-white" aria-hidden="true"></i></button>
          </form>
        </div>
        {% if request.user.is_authenticated %}  
          <span class="greeting-text">
            Hi {{ request.user.name }}!
          </span>
          <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {% if request.user.profile_image %}
                <img src="{{ request.user.profile_image.url }}" alt="{{ request.user.name }}" width="32" height="32" class="rounded-circle">
              {% else %}
                {% comment %} Default profile image if user has not uploaded one {% endcomment %}
                <img src="{% static 'images/default_profile.png' %}" alt="Default Profile Image" width="32" height="32" class="rounded-circle">
              {% endif %}
            </a>
            <ul class="dropdown-menu text-small" style="">
              <li>
                <a class="dropdown-item" href="{% url 'account:dashboard' %}">
                  <i class="fa-solid fa-gift pe-2"></i> Orders
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'account:edit_details' %}">
                  <i class="fa-solid fa-user pe-2"></i> Profile
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url "account:wishlist" %}">
                  <i class="fa-solid fa-heart pe-2"></i> Wishlist 
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'account:logout' %}">
                  <i class="fa-solid fa-power-off pe-2"></i> Sign Out
                </a>
              </li>
            </ul>
          </div>
        {% else %}
          <a href="{% url 'account:login' %}">Sign in</a>&nbsp;<span class="text-muted"> or</span>&nbsp;<a href="{% url 'account:register' %}">Register</a>
        {% endif %}
      </div>
    </div>
    {% comment %} Navigation & Header {% endcomment %}
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
        <div class="container">
          <div class="d-flex w-100 navbar-collapse">
            <a class="navbar-brand d-none d-md-block" href="/">
              <img src="{% static 'images/logo.png' %}" height="60">
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-none d-md-block fw500" href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Shop
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="{% url 'store:all_products' %}#services-section">
                      All Services
                    </a>
                  </li>
                  {% for c in categories %}
                  <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                    <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li> 
              <li class="nav-item">
                <a class="nav-link d-none d-md-block fw500" href="{% url 'store:portfolio' %}" aria-expanded="false">
                  Portfolio
                </a>
              </li>  
              <li class="nav-item">
                <a class="nav-link d-none d-md-block fw500" href="{% url 'store:all_products' %}#contact-form-section" aria-expanded="false">
                  Contact
                </a>
              </li>
              <!-- Admin Link -->
              {% if request.user.is_authenticated and request.user.is_staff %}
              <li class="nav-item">
                <a class="nav-link d-none d-md-block fw500" href="{% url 'admin:index' %}" target="_blank" rel="noopener noreferrer" aria-label="Opens Admin panel in new tab">Admin</a>
              </li>
              {% endif %}          
            </ul>
            <button class="navbar-toggler color-dark border-0 ms-auto justify-content-left" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
              aria-label="Toggle navigation">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-list"
                  viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
              </div>
            </button>
            <div class="d-flex justify-content-center align-items-center flex-grow-1">
              <a class="navbar-brand d-md-none" href="/">
                <img src="{% static 'images/logo.png' %}" height="60">
              </a>
            </div>
            <!-- Basket -->
            <div class="dropdown text-end d-flex align-center">
                <a type="button" role="button" href="{% url 'store_basket:basket_summary' %}" class="btn store-basket">

                  {% with total_qty=basket|length %}
                      <div id="basket-qty" class="d-inline-flex">
                          {% if total_qty > 0 %}
                              {{ total_qty }}
                          {% else %}
                              0
                          {% endif %}
                      </div>
                  {% endwith %}
                  <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                </a>
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle basket-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                <div class="dropdown-menu dropdown-menu-end basket-dropdown" aria-labelledby="dropdownMenuLink">
                  <!-- Basket items preview -->
                  <div id="basket-preview">
                    <div class="container">
                      {% if basket|length == 0 %}
                        <div class="text-center">Your basket is empty.</div>
                      {% else %}
                        {% for item in basket %}
                        {% with product=item.product %}
                        <div data-index="{{product.id}}" class="row mb-2 p-2 bg-light">
                          <!-- Image column -->
                          <div class="col-6 col-md-3 d-flex justify-content-center align-items-center">
                              <img class="img-fluid" alt="{{ product.title }}" src="{{ product.image.url }}" style="max-width: 100%; max-height: 100px; height: auto;">
                          </div>
                          <!-- Title column -->
                          <div class="col-6 col-md-3 text-center d-flex align-items-center justify-content-center">
                              <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
                                  <span>{{ product.title }}</span>
                              </a>
                          </div>
                          <!-- Quantity column -->
                          <div class="col-6 col-md-3 text-center d-flex align-items-center justify-content-center">
                              <span>Qty: {{item.qty}}</span>
                          </div>
                          <!-- Price column -->
                          <div class="col-6 col-md-3 text-end d-flex align-items-center justify-content-center">
                              <span>€{{ product.price }}</span>
                          </div>
                        </div>
                        {% endwith %}
                        {% endfor %}
                        <div class="dropdown-divider"></div>

                        <div class="row px-2">
                          <!-- Total price columns -->
                          <div class="col-6 col-md-3 p-2 text-center ms-auto">
                              <strong>Total: €{{basket.get_total_price}}</strong>
                          </div>
                      {% endif %}
                    </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" href="{% url 'store_basket:basket_summary' %}">View Basket</a>
                    </div>
                </div>
          </div>
        </div>
        <div class="d-md-none d-lg-none d-xl-none">
          <div class="collapse bg-white navbar-collapse justify-content-flex-start" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li>
                <a class="dropdown-item" href="{% url 'store:all_products' %}">
                  Home
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'store:portfolio' %}">
                  Portfolio
                </a>
              </li> 
              <li>
                <a class="dropdown-item" href="{% url 'store:all_products' %}#contact-form-section">
                  Contact
                </a>
              </li>
              <!-- Admin Link -->
              {% if request.user.is_authenticated and request.user.is_staff %}
              <li>
                <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank" rel="noopener noreferrer" aria-label="Opens Admin panel in new tab">Admin</a>
              </li>
              {% endif %} 
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'store:all_products' %}#services-section">
                  All Services
                </a>
              </li>
              {% for c in categories %}
              <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
              </li>
              {% endfor %}
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
            <form class="d-flex w-100 d-md-none" method="GET" action="{% url 'store:all_products' %}">
              <input class="form-control" type="search" placeholder="Search" name="q" aria-label="Search">
              <button class="btn search-button" type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
      </nav>
    </header>
  {% comment %} Main content container {% endcomment %}
  <main class="main">
    <div class="py-5">
      {% comment %} Messages {% endcomment %}
        <div class="col-md-12">
          {% if messages %}
          {% for message in messages %}
              <div class="col-12 col-lg-7 mx-auto mb-5 alert 
                {% if 'addition' in message.tags %}alert-success
                {% elif 'update' in message.tags %}alert-warning
                {% elif 'deletion' in message.tags %}alert-danger{% endif %}
                text-center" role="alert">
                  {{ message|safe }}
                  {% if 'wishlist' in message.tags %}
                      <a href="{% url 'account:wishlist' %}" class="alert-link">Wishlist</a>.
                  {% elif 'basket' in message.tags %}
                      <a href="{% url 'store_basket:basket_summary' %}" class="alert-link">Basket</a>.
                  {% endif %}
              </div>
          {% endfor %}
      {% endif %}                 
        </div>
      {% block page_header %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
  </main>
  {% comment %} Footer {% endcomment %}
  <footer class="footer bg-dark">
    <div class="container px-4">
        <footer class="pt-5 bg-dark">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Services</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/shop/branding-and-marketing-design/" class="nav-link p-0 text-body-secondary">Branding and Marketing</a></li>
                <li class="nav-item mb-2"><a href="/shop/visual-and-graphic-arts/" class="nav-link p-0 text-body-secondary">Visual and Graphic Arts</a></li>
                <li class="nav-item mb-2"><a href="/shop/custom-design-services/" class="nav-link p-0 text-body-secondary">Custom Services</a></li>
                <li class="nav-item mb-2"><a href="/shop/web-and-digital-design/" class="nav-link p-0 text-body-secondary">Digital Design</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Portfolio</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/portfolio/1/" class="nav-link p-0 text-body-secondary">Web Design</a></li>
                <li class="nav-item mb-2"><a href="/portfolio/2/" class="nav-link p-0 text-body-secondary">Marketing Design</a></li>
                <li class="nav-item mb-2"><a href="/portfolio/3/" class="nav-link p-0 text-body-secondary">Graphic Designs</a></li>
                <li class="nav-item mb-2"><a href="/portfolio/4/" class="nav-link p-0 text-body-secondary">Custom Designs</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Contact & Privacy</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/#contact-form-section" class="nav-link p-0 text-body-secondary">E-Mail Contact</a></li>
                <li class="nav-item mb-2"><a href="https://www.facebook.com/people/ArtisticEdge/61559018086019/" target="_blank" rel="noopener noreferrer" aria-label="Link opens Facebook in another tab" class="nav-link p-0 text-body-secondary">Visit Facebook</a></li>
                <li class="nav-item mb-2"><a href="https://www.linkedin.com/company/artisticedgedesign/" target="_blank" rel="noopener noreferrer" aria-label="Link opens LinkedIn in another tab" class="nav-link p-0 text-body-secondary">Visit LinkedIn</a></li>
                <li class="nav-item mb-2"><a href="https://www.termsfeed.com/live/151fe413-1dac-4556-8204-593237cc16c7" target="_blank" rel="noopener noreferrer" aria-label="Link opens Privacy Policy in another tab" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
              </ul>
            </div>
      
            <div class="col-md-5 offset-md-1 mb-3">
              <!-- Newsletter -->
              
              <form action="https://gmail.us18.list-manage.com/subscribe/post?u=3b79d343ff245a0fae0275448&amp;id=bf5cc9409a&amp;f_id=0070c6e0f0" method="post" id="mc-embedded-subscribe-form"> 
                <h5>Subscribe to our newsletter</h5>
                <p>Stay up to date on new design offerings.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="mce-EMAIL" class="visually-hidden">E-Mail Address</label>
                  <input id="mce-EMAIL" type="email" name="EMAIL" style="height: 2.5rem;"class="form-control required email" placeholder="E-Mail Address" required="" value="">
                  <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                  <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                    <input type="text" name="b_3b79d343ff245a0fae0275448_bf5cc9409a" tabindex="-1" value="">
                  </div>
                  <div class="optionalParent">
                    <div class="clear foot">
                      <input class="button btn btn-primary" type="submit"  name="subscribe" id="mc-embedded-subscribe" value="Subscribe" style="height: 2.5rem">
                      </input>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 my-4 border-top">
            <p>© 2024 ArtisticEdge, Inc. All rights reserved. Developed by <a href="https://github.com/DietkeSt" target="_blank" rel="noopener noreferrer" aria-label="Link opens Github for DietkeSt">Dietke Steindel<a>.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="https://github.com/DietkeSt/GraphicDesignShop" target="_blank" rel="noopener noreferrer" aria-label="Link opens Github Repository for the GraphicDesign Shop"><i class="fa-brands fa-github"></i></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="https://www.facebook.com/people/ArtisticEdge/61559018086019/" target="_blank" rel="noopener noreferrer" aria-label="Link opens Facebook in another tab"><i class="fa-brands fa-facebook"></i></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="https://www.linkedin.com/company/artisticedgedesign/" target="_blank" rel="noopener noreferrer" aria-label="Link opens LinkedIn in another tab" ><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
          </div>
        </footer>
      </div>
  </footer>
  {% block postloadjs %}
  <script src="{% static 'js/script.js' %}"></script>
  {% endblock %}
  {% block postloadjs_extra %}
  {% endblock %}
</body>
</html>