{% extends '../base.html' %}
{% load static %}
{% block extra_title %}Home Page{% endblock %}

{% block content %}


{% if search_term %}
    <div class="text-center container">
        <div class="row pb-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="h2 fw-bold">Search Results</p>
                <p class="lead text-muted">Showing results for "{{ search_term }}:"</p>
            </div>
        </div>
    </div>
{% else %}

 {% comment %} Hero Section {% endcomment %}
  <section class="text-center container">
      <div class="row pb-4">
        <div class="col-2 mx-auto align-content-center mb-4 d-none d-md-block">
          <img class="service-image" alt="Man holding a laptop" src="{% static 'images/hero_1_nobg.png' %}">
        </div>
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="h1 fw-bold">Expert Graphic Design Services in Ireland and Beyond</h1>
          <p class="lead text-muted">Welcome to ArtisticEdge, where imagination meets precision in every design. Dive into our portfolio full of innovative and smart solutions that truly reflect your vision. Our team is all about creating personalized design services that help elevate your brand and tell your story in a compelling way. Whether it’s eye-catching graphics or smooth, intuitive web designs, we’re here to bring your ideas to life in style.</p>
          <p>
              <a href="{% url 'store:portfolio' %}" class="btn btn-primary my-2">View Portfolio</a>
          </p>
        </div>
        <div class="col-2 mx-auto align-content-center d-none d-md-block">
          <img class="service-image" alt="Woman holding a pencil" src="{% static 'images/hero_2_nobg.png' %}">
        </div>
      </div>
  </section>
{% endif %}
{% comment %} Album Section {% endcomment %}
<div id="services-section" class="album py-5 bg-light bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white">
    <div class="container">
      {% if products|length or search_term %}
          {% if search_term %}
          {% else %}
          <h2 class="pb-3">All Services</h2>
          {% endif %}
          {% if products|length %}
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center">
            {% for product in products %}
            <a class="product-link text-decoration-none" href="{{ product.get_absolute_url }}">
              <div class="col">
                <div class="card shadow-sm" style="border-radius: 2em 0;">
                    <div class="my-3 p-3">
                      <h3 class="text-dark card-text">
                        {{ product.title }}
                      </h3>
                      <div>
                        <!-- Display the average rating as stars -->
                        <div data-tooltip="Average Rating: {{ product.average_rating }}" class="star-rating star-rating-detail">
                            {% for i in range %}
                                {% if forloop.counter0 < product.average_rating %}
                                    <span>&#9733;</span> <!-- filled star -->
                                {% else %}
                                    <span>&#9734;</span> <!-- empty star -->
                                {% endif %}
                            {% endfor %}
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-items-center">
                        <p class="text-muted lead text-dark m-0">€{{ product.price }}</p>
                      </div>
                    </div>
                    <img class="img-fluid service-image" alt="{{ item.title }}" src="{{ product.image.url }}">
                </div>
              </div>
            </a> 
            {% endfor %}
          </div>
          {% else %}
          <div class="col text-center">
            <h3>No services found.</h3>
            <img class="service-image" alt="No Services Found" height="300" src="{% static 'images/no_search_results.png' %}">
          </div>
          {% endif %}
      {% endif %}
    </div>
</div>

{% if search_term %}
<div class="text-center container">
    <div class="row pt-4">
        <div class="col-lg-6 col-md-8 mx-auto">
          <a href="{% url 'store:all_products' %}#services-section">Back to all services</a>
        </div>
    </div>
</div>
{% endif %}

{% comment %} Contact Form Section {% endcomment %}
{% if not search_term %}
<div id="contact-form-section" class="container mt-5">
  <div class="row">
      <div class="col-2 mx-auto align-content-center">
        <img class="service-image" alt="Mail flying from the right" src="{% static 'images/mail_1_nobg.png' %}">
      </div>
      <div class="col-lg-6 col-md-8 mx-auto">
          <p class="h2 pb-3 text-center">Contact Us</p>
          <form action="{% url 'store:contact_form_submit' %}" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                  <label for="name" class="form-label visually-hidden">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" maxlength="100" required>
              </div>
              <div class="mb-3">
                  <label for="email" class="form-label visually-hidden">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
              </div>
              <div class="mb-3">
                  <label for="message" class="form-label visually-hidden">Message</label>
                  <textarea class="form-control" id="message" name="message" rows="3" maxlength="500" placeholder="Write your message here... " maxlength="500" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary my-2 w-100">Send</button>
          </form>
      </div>
      <div class="col-2 mx-auto align-content-center">
        <img class="service-image" alt="Mail flying from the left" src="{% static 'images/mail_2_nobg.png' %}">
      </div>
  </div>
</div>
{% endif %}
  

{% endblock %}