{% extends '../base.html' %}
{% load static %}


{% block content %}


{% if search_term %}
    <div class="text-center container">
        <div class="row pb-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold">Search Results</h1>
                <p class="lead text-muted">Showing results for "{{ search_term }}:"</p>
            </div>
        </div>
    </div>
{% else %}

 {% comment %} Hero Section {% endcomment %}
  <section class="text-center container">
      <div class="row pb-4">
          <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="h1 fw-bold">Crafting Your Vision into Reality</h1>
              <p class="lead text-muted">Explore a portfolio where innovation meets functionality, and every design is a bridge between your ideas and their realization. Our bespoke design services, crafted by a visionary team, are tailored to elevate your brand, tell your story, and engage your audience like never before. From captivating graphics to seamless web designs, we turn concepts into tangible experiences.</p>
              <p>
                  <a href="#" class="btn btn-primary my-2">View Portfolio</a>
              </p>
          </div>
      </div>
  </section>
{% endif %}
{% comment %} Album Section {% endcomment %}
<div id="services-section" class="album py-5 bg-light">
    <div class="container">
      {% if products|length or search_term %}
          {% if search_term %}
          {% else %}
          <div class="pb-3 h5">All Services</div>
          {% endif %}
          {% if products|length %}
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in products %}
              <div class="col">
                <div class="card shadow-sm">
                  <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                  <div class="card-body text-center">
                    <p class="card-text">
                      <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                    </p>
                    <div class="d-flex justify-content-center align-items-center">
                      <small class="text-muted">€{{ product.price }}</small>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
          {% else %}
          <div class="col text-center">
            <span>No services found.</spam>
          </div>
          {% endif %}
      {% endif %}
    </div>
  </div>

{% if search_term %}
<div class="text-center container">
    <div class="row pt-4">
        <div class="col-lg-6 col-md-8 mx-auto">
          <a class="small" href="{% url 'store:all_products' %}">Back to all services</a>
        </div>
    </div>
</div>
{% endif %}
{% comment %} Contact Form Section {% endcomment %}
<div id="contact-form-section" class="container mt-5">
  <div class="row">
      <div class="col-md-8 mx-auto">
          <h2>Contact Us</h2>
          <form action="{% url 'store:contact_form_submit' %}" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="mb-3">
                  <label for="message" class="form-label">Message</label>
                  <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Send</button>
          </form>
      </div>
  </div>
</div>
  

{% endblock %}