{% extends '../base.html' %}
{% load static %}

{% block content %}

<section id="portfolio-detail" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <img src="{{ portfolio_item.image.url }}" class="img-fluid mb-4" alt="{{ portfolio_item.title }}">
                <h2>{{ portfolio_item.title }}</h2>
                <p>{{ portfolio_item.description }}</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}